



{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    <title>Login</title>
</head>
<body>      
    <div class = "center">

        <h1>Signup</h1>

        <form method="post" >

            <div class="txt_field">
                <input type="text" name = "username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id ="id_username">
                <span></span>
                <label for="id_username">Nom d'utilisateur</label>      
            </div>



            <div class="txt_field">
                <input type="email" name = "email"    maxlength="254"  required id ="id_email">
                <span></span>
                <label for="id_email">Adresse électronique</label>      
            </div>

           

            <div class="txt_field">
                <input type="first_name" name = "first_name"   maxlength="150" required id ="id_first_name">
                <span></span>
                <label for="id_first_name">Prénom</label>      
            </div>

            <div class="txt_field">
                <input type="last_name" name = "last_name"   maxlength="150" required id ="id_last_name">
                <span></span>
                <label for="id_last_name">Nom</label>      
            </div>


            <div class="txt_field">
                <select name="role" required id="id_role">
                    <option value selected >Role</option>
                    <option value="CREATOR">Docteur</option>
                    <option value="SUBSCRIBER">Abonné</option>
                    
                </select>
                
                <span></span>
                     
            </div>



            <div class="txt_field">
                
                <input type="password1" name = "password1"  autocomplete="new-password"  required id ="id_password1" aria-autocomplete="list">
                <span></span>
                <label for="id_password1">Mot de pass:</label>
            </div>

            <div class="txt_field">
                
                <input type="password2" name = "password2"  autocomplete="new-password"  required id ="id_password2">
                <span></span>
                <label for="id_password2">Confirmer Mot de pass:</label>
            </div>




            
            
          
           <input type="submit" value="Signup">
            {%  csrf_token %}
            <div class="signup_link">
                    Déjà Membre ! <a href="{% url 'login' %}">login</a>

            </div> 
        </form>


    </div>
    
    
    
</body>
</html>