<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

 
        <h1>E-Forum</h1>
        
        <ul>
            {% for blog in blogs %}
              <li>
                <p>{{ blog.author}} :{{ blog.title }} creé le {{ blog.date_created|date:"d-m-Y"}}

                  <ul>
                    
                    {% for msg in blog.message_set.all %}
                                <li>
                                   {{ msg.content}}
                                </li>
                    {% endfor %}

                    {% for blog1 in blog.blog_set.all %}
                              <li>
                                {{ blog1.author}} :{{ blog1.title }} creé le {{ blog1.date_created|date:"d-m-Y"}}
                                
                                    <ul>
                                      {% for msg in blog.message_set.all %}
                                             <li>
                                              {{ msg.content}}
                                            </li>
                                      {% endfor %}

                                    </ul>
                                    
                                     
                              </li>
                              <form action="" method="post" >
                                {% csrf_token %}
                                {{ form1.as_p}}
                                <input type="hidden" name="blog" value = "{{ blog.id}}">
                                               
                                <input type="submit" value="Envoyer">
                              </form>
                    {% endfor %}
                    
                
                      
                
                  </ul>
                </p>
                
                
              </li>
              

            {% endfor %}
            
          </ul>
          <br><br><br>
       
  <p>
      Créer une blog
      <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Envoyer">
      </form>

  </p>
  </form>
</body>
</html>